<h1>Update Director</h1>

<form action="http://localhost:3000/update_directors/<%=@id%>">

  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="<%= @name %>">
  </div>
  <div>
    <label for="dob">Date of Birth</label>
    <input id="dob" type="text" name="dob" value="<%= @dob %>">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="paragraph" name="bio" value="<%= @bio %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="image_url" value="<%= @image_url %>">
  </div>
  <div>
    <button>Update Director</button>
  </div>
</form>
